<h2>Add a new todo</h2>
<form #f="ngForm" (ngSubmit)="createTodo()">
  <p>
    <mat-form-field>
      <input matInput type="test" name="title" ngControl="name" placeholder="Title" [(ngModel)]="todo.title" required>
    </mat-form-field>
  </p>
  <p>
      <mat-form-field>
        <input matInput type="test" name="description" ngControl="description" placeholder="Description" [(ngModel)]="todo.description" required>
      </mat-form-field>
  </p>
  <p>
      <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Add todo</button>
  </p>
</form>

<h2 *ngIf="todos && todos.length == 0">No todos ;(</h2>
<h2 *ngIf="todos && todos.length > 0">Todos({{todos.length}})</h2>

<mat-card *ngFor="let todo of todos">
  <mat-card-title>{{todo.title}}</mat-card-title>
  <mat-card-content>
    <div>{{todo.description}}</div>
    <div>Status: <mat-checkbox [(ngModel)]="todo.status" (click)="completeTodo(todo)"></mat-checkbox></div>
  </mat-card-content>
</mat-card>
